<section class="vh-100">
  <div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-9 col-lg-6 col-xl-5">
        <p class="lead fw-normal">RESET PASSWORD</p>
        <form [formGroup]="reset" (ngSubmit)="saveUser()">
          <!-- Password input -->
          <div class="form-outline mb-3">
            <input
              type="password"
              id="form3Example4"
              class="form-control form-control-lg"
              placeholder="Password"
              formControlName="password"
              [ngClass]="{ 'is-invalid': submitted && f['password'].errors }"
            />
            <div
              *ngIf="submitted && f['password'].errors"
              class="invalid-feedback"
            >
              <div *ngIf="f['password'].errors['required']">
                Password is required
              </div>
              <div *ngIf="f['password'].errors['minlength']">
                Password must be at least 6 characters
              </div>
              <div *ngIf="f['password'].errors['maxlength']">
                Username must not exceed 15 characters
              </div>
            </div>
          </div>

          <!--Re Password input -->
          <div class="form-outline mb-3">
            <input
              type="password"
              id="form3Example4"
              class="form-control form-control-lg"
              placeholder="Confirm Password"
              formControlName="rePassword"
              [ngClass]="{
                'is-invalid': submitted && f['rePassword'].errors
              }"
            />
            <div
              *ngIf="submitted && f['rePassword'].errors"
              class="invalid-feedback"
            >
              <div *ngIf="f['rePassword'].errors['required']">
                Confirm Password is required
              </div>
              <div *ngIf="f['rePassword'].errors['matching']">
                Confirm Password does not match
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 text-center mt-4 pt-2">
              <button type="submit" class="btn btn-lg">RESET PASSWORD</button>
            </div>
          </div>
        </form>
      </div>
      <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
        <img
          src="../../assets/reset.png"
          class="img-fluid"
          alt="Sample image"
        />
      </div>
    </div>
  </div>
</section>
