.divider:after,
.divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #eee;
}
.lead {
  letter-spacing: 0px;
  color: #01b7ff;
  opacity: 1;
  font: normal normal bold 20px/25px HelveticaMedium;
  font-style: normal;
  text-align: center;
  margin-top: 30%;
}
form {
  margin-top: 10%;
}
.form-outline{
  width: 40%;
  align-items: center;
}
.form-control:focus {
  border-color: #01b7ff;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.form-control-lg {
  border: 1px solid #01b7ff;
  border-radius: 90px;
  font-family: HelveticaMedium;
  font-size: 11px;
  padding: 0px 0 0 30px;
  text-align: left;
  letter-spacing: 0px;
  opacity: 1;
  color: #acabab;
  opacity: 1;
}
.img-fluid {
  position: absolute;
  max-width: 100%;
  max-height: 100%;
  height: 400px;
  top: 0%;
  margin-top: 10%;
}
.btn-lg {
  background: transparent linear-gradient(90deg, #01b7ff 0%, #72c900 100%);
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 90px;
  border: 0px;
  text-align: center;
  font: normal normal normal 15px/20px Helvetica Neue;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
  width: 50%;
  height: 100%;
}
.text-md-left {
  text-align: center;
  text-decoration: underline;
  font: normal normal normal 13px/18px HelveticaMedium;
  color: #72c900;
}
.h-custom {
  height: calc(100% - 73px);
}
.invalid-feedback{
  margin-left: 13%;
}
@media (max-width: 320px) {
  .img-fluid {
    height: 300px;
    width: 300px;
  }
  .lead {
    margin-top: 130%;
    font: normal normal bold 15px/20px HelveticaMedium;
    font-style: normal;
  }
  form {
    margin-top: 15%;
  }
  .btn-lg {
    width: 60%;
  }
}
@media (min-width: 320px) {
  .img-fluid {
    height: 300px;
    width: 300px;
  }
  .lead {
    margin-top: 130%;
    font: normal normal bold 15px/20px HelveticaMedium;
    font-style: normal;
  }
  form{
    margin-top: 15%;
  }
  .form-outline{
    margin-left: 25%;
    width: 50%;
  }
  .btn-lg {
    width: 70%;
  }
  .text-md-left{
    text-align: center;
  }
}
@media (min-width: 370px) {
  .img-fluid {
    height: 300px;
    width: 300px;
    margin-left: 7%;
  }
  .lead {
    margin-top: 110%;
  }
  form {
    margin-top: 15%;
  }
  .btn-lg {
    width: 60%;
  }
}
@media (min-width: 440px) {
  .img-fluid {
    height: 300px;
    width: 300px;
    margin-left: 15%;
  }
  .lead {
    margin-top: 90%;
  }
  form {
    margin-top: 10%;
  }
  .form-outline{
    margin-left: 25%;
    width: 50%;
  }
  .btn-lg {
    width: 60%;
  }
}

@media (min-width: 510px) {
  .img-fluid {
    height: 300px;
    width: 300px;
    margin-left: 20%;
  }
  .lead {
    margin-top: 80%;
  }
  form {
    margin-top: 10%;
  }
  .form-outline{
    margin-left: 35%;
    width: 30%;
  }
  .btn-lg {
    width: 55%;
  }
}

@media (min-width: 570px) {
  .img-fluid {
    height: 300px;
    width: 300px;
    margin-left: 23%;
  }
  .lead {
    margin-top: 70%;
  }
  form {
    margin-top: 10%;
  }
  .form-outline{
    margin-left: 35%;
    width: 30%;
  }
  .btn-lg {
    width: 55%;
  }
}

@media (min-width: 660px) {
  .img-fluid {
    height: 300px;
    width: 300px;
    margin-left: 25%;
  }
  .lead {
    margin-top: 60%;
  }
  form {
    margin-top: 10%;
  }
  .btn-lg {
    width: 40%;
  }
}

@media (min-width: 760px) {
  .img-fluid {
    height: 300px;
    width: 300px;
    margin-left: 28%;
  }
  .lead {
    margin-top: 55%;
  }
  form {
    margin-top: 6%;
  }
  .form-outline {
    width: 40%;
    margin-left: 30%;
  }
  .btn-lg {
    width: 30%;
  }
}

@media (min-width: 770px) {
  .img-fluid {
    height: 400px;
    width: 400px;
    margin-left: 7%;
    margin-top: 3%;
  }
  .lead {
    margin-top: 80%;
  }
  form {
    margin-top: 8%;
  }
  .form-outline {
    width: 40%;
    margin-left: 30%;
  }
  .btn-lg {
    width: 30%;
  }
}

@media (min-width: 810px) {
  .img-fluid {
    height: 400px;
    width: 400px;
    margin-left: 10%;
    margin-top: 3%;
  }
  .lead {
    margin-top: 75%;
  }
  form {
    margin-top: 8%;
  }
  .form-outline {
    width: 30%;
    margin-left: 35%;
  }
  .btn-lg {
    width: 50%;
  }
}

@media (min-width: 880px) {
  .img-fluid {
    height: 400px;
    width: 400px;
    margin-left: 10%;
    margin-top: 3%;
  }
  .lead {
    margin-top: 70%;
  }
  form {
    margin-top: 8%;
  }
  .form-outline {
    width: 30%;
    margin-left: 35%;
  }
  .btn-lg {
    width: 50%;
  }
}

@media (min-width: 920px) {
  .img-fluid {
    height: 400px;
    width: 400px;
    margin-left: 10%;
    margin-top: 3%;
  }
  .lead {
    margin-top: 65%;
  }
  form {
    margin-top: 6%;
  }
  .form-outline {
    width: 30%;
    margin-left: 35%;
  }
  .btn-lg {
    width: 50%;
  }
}

@media (min-width: 960px) {
  .img-fluid {
    height: 400px;
    width: 400px;
    margin-left: 13%;
    margin-top: 3%;
  }
  .lead {
    margin-top: 65%;
  }
  form {
    margin-top: 6%;
  }
  .form-outline {
    width: 40%;
    margin-left: 30%;
  }
  .btn-lg {
    margin-top: -5%;
    width: 30%;
    height: 150%;
  }
}

@media (min-width: 992px) {
  .img-fluid {
    position: absolute;
    max-width: 100%;
    max-height: 100%;
    height: 500px;
    width: 500px;
    top: 0%;
    margin-top: 8%;
    margin-left: 0%;
  }
  .lead {
    text-align: center;
    margin-top: 20%;
  }
  form {
    margin-top: 6%;
  }
  .form-outline {
    width: 30%;
    margin-left: 34%;
  }
  .btn-lg {
    width: 50%;
    height: 120%;
  }
}

