<section class="vh-100">
  <div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="row">
        <div class="col-md-9 col-lg-6 col-xl-5">
          <p class="lead fw-normal mb-0 me-3">FORGOT YOUR PASSWORD?</p>
          <form [formGroup]="fogotpassword" (ngSubmit)="SaveForm()">
            <p class="text-justify">
              Fill your Email Address, we will send a link to <br />
              recover password
            </p>

            <div class="form-outline mt-md-12 offset-xl-3">
              <input
                required
                type="email"
                id="form3Example3"
                class="form-control form-control-lg"
                placeholder="Email"
                formControlName="email"
                [ngClass]="{ 'is-invalid': submitted && f['email'].errors }"
              />
              <div
                *ngIf="submitted && f['email'].errors"
                class="invalid-feedback"
              >
                <div *ngIf="f['email'].errors['required']">
                  Email is required
                </div>
                <div *ngIf="f['email'].errors['email']">Email is invalid</div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 text-center mt-4 pt-2">
                <button
                  type="submit"
                  class="btn btn-lg"
                >
                  SUBMIT
                </button>
              </div>
            </div>
          </form>
        </div>

        <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-2">
          <img
            src="../../assets/forgotpassword.png"
            class="img-fluid"
            alt="Sample image"
          />
        </div>
      </div>
    </div>
  </div>
</section>
