/* You can add global styles to this file, and also import other style files */
@import "~bootstrap-icons/font/bootstrap-icons.css";

@font-face {
    font-family: "Helvetica";
    src: local("Helvetica"), url(./assets/font/Helvetica.ttf) format(truetype);
}
@font-face {
    font-family: "HelveticaExt";
    src: local("HelveticaExt"), url(./assets/font/HelveticaExtObl.ttf) format(truetype);
}
@font-face {
    font-family: "HelveticaH";
    src: local("HelveticaH"), url(./assets/font/HelveticaHvCnObl.ttf) format(truetype);
}
@font-face {
    font-family: "HelveticaMedium";
    src: local("HelveticaMedium"), url(./assets/font/HelveticaMedium.ttf) format(truetype);
}
@font-face {
    font-family: "HelveticaMediumIt";
    src: local("HelveticaMediumIt"), url(./assets/font/HelveticaMediumIt.ttf) format(truetype);
}
@font-face {
    font-family: "HelveticaObl";
    src: local("HelveticaObl"), url(./assets/font/HelveticaObl.ttf) format(truetype);
}
@font-face {
    font-family: "HelveticaUltraLight";
    src: local("HelveticaUltraLight"), url(./assets/font/HelveticaUltraLight.ttf) format(truetype);
}
